server:
  private-domain: "{{ mesh_17711_stack_do__dns_admin_hostname_internal }}"
  local-zone: "{{ mesh_17711_stack_do__dns_admin_hostname_internal }}." static

  # Primary A/AAAA records for internal hostname
{% if mesh_17711_stack_do__dns_adguard_dns_bind_ipv4|length > 0 %}
  local-data: "{{ mesh_17711_stack_do__dns_admin_hostname_internal }}. IN A {{ mesh_17711_stack_do__dns_adguard_dns_bind_ipv4[0] }}"
{% endif %}
{% if mesh_17711_stack_do__dns_adguard_dns_bind_ipv6|length > 0 %}
  local-data: "{{ mesh_17711_stack_do__dns_admin_hostname_internal }}. IN AAAA {{ mesh_17711_stack_do__dns_adguard_dns_bind_ipv6[0] }}"
{% endif %}
